<Saetta::Stack @mainAlignment='end' @height='full' as |Stack|>
  <Stack.item @canGrow={{true}}>
    <div class='text-gray-800'>
      {{@selected}}
    </div>
  </Stack.item>
  <Saetta::Heroicon @icon='chevron-up-down' class='text-gray-500' />
</Saetta::Stack>