<Saetta::Stack
  @direction='col'
  @crossAlignment='start'
  @density='compact'
  as |Stack|
>
  {{#if @label}}
    <Stack.item>
      <div class='text-xs font-medium pl-0.5'>{{@label}}</div>
    </Stack.item>
  {{/if}}
  <Stack.item>
    {{! template-lint-disable require-input-label }}
    <Input
      autocomplete='off'
      class='border border-gray-300 rounded shadow-md p-1 text-gray-800 pl-2 placeholder:text-sm placeholder:text-gray-400'
      @value={{@value}}
      placeholder={{@placeholder}}
      {{on 'input' this.onInput}}
    />
  </Stack.item>
</Saetta::Stack>