<button
  type='button'
  class='{{if this.enabled "bg-indigo-600" "bg-gray-200"}}
    relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-0'
  role='switch'
  aria-checked='false'
  {{on 'click' this.onClick}}
>
  <span
    aria-hidden='true'
    class='{{if this.enabled "translate-x-5" "translate-x-0"}}
      pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200'
  >
  </span>
</button>